{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trip/add') }}
{% endblock %}

{% block title %}Добавить поездку{% endblock %}

{% block body %}
    <h1>Добавить поездку</h1>
    <a href="{{ path('trip') }}">Список поездок</a>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <div>
            <span>Дата прибытия в регион: </span>
            <span id="trip_end_date"></span>
        </div>

        <input type="submit" value="Добавить"/>
    {{ form_end(form) }}
{% endblock %}

