{% extends 'base.html.twig' %}

{% block body %}
    <h1>Поездки</h1>
    <a href="{{ path('trip_add') }}">Добавить</a>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <input type="submit" value="Показать"/>
    {{ form_end(form) }}

    <table>
        <tr>
            <th>Регион</th>
            <th>Дата выезда</th>
            <th>ФИО курьера</th>
        </tr>
        {% for trip in trips %}
            <tr>
                <td>{{ trip.region.name }}</td>
                <td>{{ trip.startDate|date('d.m.Y') }}</td>
                <td>{{ trip.courier.fullName }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}